<link rel="stylesheet" href="/css/styles.css">
@using Hospital.WebProject.ViewModels.Room
@model RoomViewModel

@if (User.IsInRole("Admin") || User.IsInRole("Patient") || User.IsInRole("Doctor") || User.IsInRole("Nurse"))
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@Model.RoomNumber</h5>

            @if (@Model.IsTaken == true)
            {
                <p class="card-text">Room No.@Model.RoomNumber is occupied!</p>
            }
            @if (Model.IsTaken == false)
            {
                <p class="card-text">Room No.@Model.RoomNumber is not occupied!</p>
            }
        </div>
    </div>
}