<link rel="stylesheet" href="/css/styles.css">
@using Hospital.WebProject.ViewModels.Room
@model RoomIndexViewModel

@if (User.IsInRole("Admin") || User.IsInRole("Doctor") || User.IsInRole("Nurse"))
{
    <form asp-controller="Rooms" asp-action="Edit" method="post">
        <div class="mb-3">
            <label asp-for="RoomNumber" class="form-label">Room number: </label>
            <input asp-for="RoomNumber" class="form-control" />
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="IsTaken" value="true" />
            <label class="form-check-label">Occupied</label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="IsTaken" value="false" />
            <label class="form-check-label">Not occupied</label>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-action="Index" class="btn btn-secondary" style="display:inline">Back</a>
        </div>
    </form>
}