@{
    ViewData["Title"] = "Home Page";
    string imageName = "img2.jpg";
    int doctorIndex = 0;
}
<style>
    body {
        min-height: 100vh;
        background: linear-gradient(to bottom, #2b5876, #4e9fd1);
    }

</style>

@foreach(var doctor in DOctors)
{
    <img src="img/@doctorIndex++"/>
}

<div class="text-center">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/img1.png" class="d-block w-100" alt="hospital">
            </div>
            <div class="carousel-item">
                <img src="img/@imageName" class="d-block w-100" alt="doctors">
            </div>
            <div class="carousel-item">
                <img src="img/img3.jpg" class="d-block w-100" alt="medicine">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
