<link rel="stylesheet" href="/css/styles.css">
@using Hospital.WebProject.ViewModels.Specialization
@model SpecializationIndexViewModel


@if (User.IsInRole("Admin") || User.IsInRole("Nurse") || User.IsInRole("Doctor"))
{
    <div class="mb-3">
        <h2 style="text-align:center">———— Specializations ————</h2>
    </div>

    <form asp-action="Edit" method="post" enctype="multipart/form-data">

        <input type="hidden" asp-for="ID" />

        <div class="mb-3">
            <label asp-for="SpecializationName" class="form-label"></label>
            <input asp-for="SpecializationName" class="form-control" />
            <span class="text-danger" asp-validation-for="SpecializationName"></span>
        </div>

        <div class="mb-3">
            <label asp-for="NewImageFile" class="form-label">Upload Image:</label>

            <input asp-for="NewImageFile" type="file" accept="image/*" class="form-control" />

            <span class="text-danger" asp-validation-for="NewImageFile"></span>
        </div>

        @* @if (!string.IsNullOrEmpty(Model.ImageURL))
        {
            <div class="mb-3">
                <p>Current image:</p>
                <img src="@Model.ImageURL" width="200" />
            </div>
        } *@

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a asp-action="Index" class="btn btn-secondary">Back</a>
        </div>
    </form>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}