<link rel="stylesheet" href="/css/styles.css">
@using Hospital.WebProject.ViewModels.Specialization
@model SpecializationViewModel

@if (User.IsInRole("Admin"))
{
    <form asp-action="Edit" method="post">
        <div class="mb-3">
            <label asp-for="SpecializationName" class="form-label">Name of specialization: </label>
            <input asp-for="SpecializationName" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Image" class="form-label">Image: </label>
            <input asp-for="Image" class="form-control" />
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a asp-action="Index" class="btn btn-secondary" style="display:inline">Back</a>
        </div>
    </form>
}