@using Hospital.WebProject.ViewModels.Specialization
@model List<SpecializationIndexViewModel>

<h2 class="text-white">Search Specialization</h2>
<div class="mb-3">
<form method="get" asp-action="GetSpecialization">
    <div class="form-group">
            <input type="text" name="specialization" placeholder="Enter specialization..." class="form-control" required />
    </div>
    <br />
    <button class="btn btn-primary">Search</button>
    <a asp-action="Index" class="btn btn-secondary" style="display:inline">Back</a>

</form>
</div>
@if (Model != null && Model.Any())
{
    <div class="row">
        @foreach (var s in Model)
        {
            <div class="col-md-3">
                <div class="card p-2">
                    <h6>@s.SpecializationName</h6>
                </div>
            </div>
        }
    </div>
}
else if (Model == null)
{
    <p>No specializations found.</p>
}