@using Hospital.WebProject.ViewModels.Specialization
@model SpecializationCreateViewModel

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="SpecializationName" class="form-label">Name of specialization: </label>
        <input asp-for="SpecializationName" class="form-control" />
    </div>
</form>eee

