@using Hospital.WebProject.ViewModels.Specialization
@model List<SpecializationIndexViewModel>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SpecializationName</td>
            </tr>
        }
    </tbody>
</table>