@using Hospital.WebProject.ViewModels.Doctor
<link rel="stylesheet" href="/css/styles.css">
@model DoctorShiftViewModel

@{
    ViewData["Title"] = "Doctor Shift";
}

<h2>Doctor Shift</h2>

@if (Model == null)
{
    <p>No shift assigned to this doctor.</p>
}
else
{
    <table class="table table-striped">
        <tr>
            <th>Start Time</th>
            <td>@Model.StartTime.ToString(@"hh\:mm")</td>
        </tr>
        <tr>
            <th>End Time</th>
            <td>@Model.EndTime.ToString(@"hh\:mm")</td>
        </tr>
    </table>
}