@using Hospital.WebProject.ViewModels.Diagnose
@model DiagnoseCreateViewModel

@if (User.IsInRole("Admin") || User.IsInRole("Doctor"))
{
    <div class="mb-3">
        <h2 style="text-align:center">———— Diagnoses ————</h2>
    </div>
    <form asp-action="Create" asp-controller="Diagnoses" method="post">
        @Html.AntiForgeryToken()

        <div class="mb-3">
            <label asp-for="Name" class="form-label">Diagnose:</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a asp-action="Index" class="btn btn-secondary">Back</a>
        </div>
    </form>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}