@using Hospital.WebProject.ViewModels.Diagnose
@model DiagnoseIndexViewModel

<form asp-action="Edit" asp-controller="Diagnoses" method="post" enctype="multipart/form-data">

    <input type="hidden" asp-for="ID" />

    <div class="mb-3">
        <label asp-for="Name">Diagnose:</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Upload new image:</label>
        <input asp-for="NewImageFile" type="file" class="form-control" />
    </div>

    @if (!string.IsNullOrEmpty(Model.ImageURL))
    {
        <div class="mb-3">
            <p>Current image:</p>
            <img src="@Model.ImageURL" width="200" />
        </div>
    }

    <button type="submit" class="btn btn-primary">Update</button>
</form>