@using Hospital.WebProject.ViewModels.Diagnose
@model DiagnoseViewModel
@if (User?.Identity?.IsAuthenticated ?? false)
{
    <form asp-action="Edit" method="post">
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Diagnose: </label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a asp-action="Index" class="btn btn-secondary" style="display:inline">Back</a>
        </div>
    </form>
}