@using Hospital.WebProject.ViewModels.Diagnose
@model List<DiagnoseIndexViewModel>
@{
    ViewData["Title"] = "Diagnose with such letter";
}

<h2 class="text-white">Search Diagnose</h2>
<div class="mb-3">
    <form method="get" asp-action="GetDiagnose">
        <div class="form-group">
            <input type="text" name="diagnose" placeholder="Enter diagnose..." class="form-control" />
        </div>

        <br />
        <button type="submit" class="btn btn-primary">Search</button>
        <a asp-action="Index" class="btn btn-secondary" style="display:inline">Back</a>

    </form>
</div>
<hr />

@if (Model != null && Model.Any())
{
    <h3 class="text-white">Results:</h3>

    <div class="row">
        @foreach (var diagnose in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm rounded-3">
                    <div class="card-body">
                        <h5 class="card-title">@diagnose.Name</h5>
                        <p class="card-text">
                            <img src="@diagnose.ImageURL" alt="diagnose" />
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
}
else if (Model == null)
{
    <p>No diagnoses where found.</p>
}
