@using Hospital.WebProject.ViewModels.Diagnose
@model List<DiagnoseViewModel>
<div class="diagnose-grid">
@foreach (var item in Model)
{
    <div class="diagnose-card">
        <h5 class="diagnose-title">@item.Name</h5>
        <p><strong>ID:</strong> @item.ID</p>
        <div class="diagnose-actions">
                <a asp-action="Edit" asp-route-id="@item.ID" style="display:inline" class="btn btn-warning mb-3">Edit</a>
                <form asp-action="Delete" class="mb-3" asp-route-id="@item.ID" method="post" style="display:inline">
                    <button class="btn btn-danger">Delete</button>
                </form>
        </div>
    </div>
}
</div>
