<link rel="stylesheet" href="/css/styles.css">
@using Hospital.WebProject.ViewModels.Patient
@model PatientIndexViewModel

@if (User.IsInRole("Admin") || User.IsInRole("Doctor") || User.IsInRole("Nurse"))
{
    <div class="mb-3">
        <h2 style="text-align:center">———— Patients ————</h2>
    </div>
    <form asp-action="Edit" method="post">
        <div class="mb-3">
            <label asp-for="UserID" class="form-label">Patient: </label>
            <select asp-for="UserID" asp-items="ViewBag.Users" class="form-select">
            </select>
        </div>

        <div class="mb-3">
            <label asp-for="DoctorId" class="form-label">Doctor: </label>
            <select asp-for="DoctorId" asp-items="ViewBag.Doctor" class="form-select">
            </select>
        </div>

        <div class="mb-3">
            <label asp-for="HospitalizationDate" class="form-label">Hospitalization date: </label>
            <input asp-for="HospitalizationDate" type="datetime-local" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="DischargeDate" class="form-label">Discharge date: </label>
            <input asp-for="DischargeDate" type="datetime-local" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="RoomId" class="form-label">Room: </label>
            <select asp-for="RoomId" asp-items="ViewBag.Room" class="form-select">
            </select>
        </div>

        <div class="mb-3">
            <label asp-for="BirthCity" class="form-label">Birth city: </label>
            <input asp-for="BirthCity" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="DateOfBirth" class="form-label">Date of birth: </label>
            <input asp-for="DateOfBirth" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="PhoneNumber" class="form-label">Phone number: </label>
            <input asp-for="PhoneNumber" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="UCN" class="form-label">UCN: </label>
            <input asp-for="UCN" class="form-control" />
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-action="Index" class="btn btn-secondary" style="display:inline">Back</a>
        </div>
    </form>
}