@using Hospital.WebProject.ViewModels.Doctor
@model DoctorCreateViewModel

@if (User.IsInRole("Admin"))
{
    <div class="mb-3">
        <h2 style="text-align:center">———— Doctors ————</h2>
    </div>

    <form asp-controller="Doctors" asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label asp-for="DoctorName" class="form-label">Doctor Name:</label>
            <input asp-for="DoctorName" class="form-control" />
            <span class="text-danger" asp-validation-for="DoctorName"></span>
        </div>

        <div class="mb-3">
            <label asp-for="SpecializationID" class="form-label">Specialization:</label>
            <select asp-for="SpecializationID" asp-items="ViewBag.Specialization" class="form-select"></select>
            <span class="text-danger" asp-validation-for="SpecializationID"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ShiftID" class="form-label">Shift:</label>
            <select asp-for="ShiftID" asp-items="ViewBag.Shift" class="form-select"></select>
            <span class="text-danger" asp-validation-for="ShiftID"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Image" class="form-label">Upload Image:</label>
            <input asp-for="Image" type="file" accept="image/*" class="form-control" />
            <span class="text-danger" asp-validation-for="Image"></span>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a asp-action="Index" class="btn btn-secondary">Back</a>
        </div>
    </form>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}