<link rel="stylesheet" href="/css/styles.css">
@using Hospital.WebProject.ViewModels.Doctor
@model List<DoctorIndexViewModel>

<h2 class="text-white">Search Doctors by Specialization</h2>
<div class="mb-3">
<form method="get" asp-action="FilterBySpecialization">
    <input type="text" name="specialization" class="form-control" placeholder="Enter specialization..." required />
    <br />
    <button class="btn btn-primary">Search</button>
    <a asp-action="Index" class="btn btn-secondary" style="display:inline">Back</a>

</form>
</div>
<hr />

@if (Model != null && Model.Any())
{
    <div class="row">
        @foreach (var d in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <strong>Doctor </strong><h5 style="display:inline;">@d.UserName</h5>
                        <p>
                            <strong>Specialization:</strong> @d.SpecializationName <br />
                            <strong>Shift:</strong> @d.ShiftName
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
}
else if (Model == null)
{
    <p>No doctors where found.</p>
}

