@using Hospital.WebProject.ViewModels.Doctor
@model List<DoctorIndexViewModel>

@foreach (var doctor in Model)
{
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">@doctor.User.FirstName</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">@doctor.User.LastName</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">@doctor.Specialization.SpecializationName</a>
        </li>
    </ul>
}
