<link rel="stylesheet" href="/css/styles.css">
@using Hospital.WebProject.ViewModels.Shift
@model ShiftIndexViewModel

<form method="get">
    <input type="time" name="time" class="form-control" required />
    <br />
    <button class="btn btn-primary">Search</button>
</form>

<hr />

@if (Model != null)
{
    <div class="card p-3">
        <h4>@Model.Type</h4>
        <p>
            Start: @Model.StartTime <br />
            End: @Model.EndTime
        </p>
    </div>
}
else
{
    <p>No shift found.</p>
}