@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="mb-3">
    <h2 style="text-align:center">Pending Nurses</h2>
</div>

<tbody>
@foreach (var n in ViewBag.Nurses)
{
    <tr>
        <td>@n.User.FirstName @n.User.LastName</td>
        <td>
            <form asp-action="AcceptNurse" method="post">
                <input type="hidden" name="id" value="@n.UserId" />
                <button class="btn btn-success">Accept</button>
            </form>
        </td>
    </tr>
}
</tbody>

<div class="mb-3">
    <a asp-action="Index" class="btn btn-secondary" style="display:inline">Back</a>
</div>