@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="mb-3">
    <h2 style="text-align:center">Pending Nurses</h2>
</div>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nurses</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var n in ViewBag.Nurses)
            {
                @n.User.FirstName @n.User.LastName
                <form asp-action="AcceptNurse" method="post">
                    <input type="hidden" name="id" value="@n.UserId" />
                    <button class="btn btn-success">Accept</button>
                </form>
            }
        </tr>
    </tbody>
</table>

<div class="mb-3">
    <a asp-action="Index" class="btn btn-secondary" style="display:inline">Back</a>
</div>