@using Hospital.WebProject.ViewModels.Medication
@model MedicationViewModel
<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Diagnose: </label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label">Description: </label>
        <input asp-for="Description" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="SideEffects" class="form-label">Side effects: </label>
        <input asp-for="SideEffects" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="DiagnoseID" class="form-label">Medication for diagnose: </label>
        <select asp-for="DiagnoseID" asp-items="ViewBag.Diagnose" class="form-select"  />
    </div>
</form>
