<link rel="stylesheet" href="/css/styles.css">
@using Hospital.WebProject.ViewModels.Nurse
@model List<NurseIndexViewModel>

<h2>Search Nurses by Specialization</h2>

<form method="get" asp-action="FilterBySpecialization">
    <input type="text" name="specialization" class="form-control" placeholder="Enter specialization" required />
    <br />
    <button class="btn btn-primary">Search</button>
</form>

<hr />

@if (Model != null && Model.Any())
{
    <div class="row">
        @foreach (var n in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5>@n.UserName</h5>
                        <p>
                            <strong>Specialization:</strong> @n.SpecializationName <br />
                            <strong>Shift:</strong> @n.ShiftName
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
}
else if (Model == null)
{
    <p>No nurses where found.</p>
}

